<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mirror.hand.makeup.shaving.best.zoom.pocket.selfie">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.REQUEST_NOTIFICATIONS" />


    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO" />

            <data android:scheme="mailto" />
        </intent>
    </queries>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MirrorApp.NoActionBar">
        <activity
            android:name=".ErrorActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8309718960294057~7033481825" />

        <activity
            android:name=".VideoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LongTextActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FullscreenActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GalleryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Info360Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PayActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CameraAccessActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PollActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OnboardingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MirrorApp.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".tools.NotificationReceiver"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="mirror.hand.makeup.shaving.best.zoom.pocket.selfie.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>